.myBg {
  background-color: #ffffff !important;
}
.colorLi {
  color: black !important;
}
nav a {
  color: white !important;
}
footer a {
  color: white;
}
h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}
.card {
  border-width: 0;
}
h1 {
  margin-right: 50px;
  font-size: xx-large;
}
.navArrow {
  width: 10px;
  height: 30px;
}
.PGh1 {
  font-size: xxx-large;
}
.headerIcon {
  border: solid 2px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textHeaderIcon {
  color: white;
}
#PG-CenterDiv {
  max-width: 700px;
  margin-inline: 30%;
}
.checkbox {
  width: 20px;
  height: 20px;
  background-color: black;
}
.x {
  min-width: fit-content;
}
.w30 {
  width: 30%;
}
#changeImg {
  top: 80px;
  left: 5px;
  width: 15px;
  height: 15px;
}
a {
  text-decoration: none;
}
#ultraBtn {
  background-color: transparent;
  font-family: fantasy;
  display: contents;
}
article {
  margin-inline: 20%;
}
.w20 {
  width: 20%;
}
.xx {
  background-color: none;
}
@media screen and (max-width: 700px) {
  .footerMobile {
    align-items: center;
    width: 100%;
  }
  .settingPageMobile {
    gap: 0px !important;
    flex-direction: column;
  }
  .SettingPageStart {
    flex-direction: column;
  }
  .SettingPageStart2 {
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .buttonCollapse {
    background-color: white;
  }
}
